<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Competition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.number %></td>
    <td><%= team.competition %></td>
    <td><%= link_to 'Show', competition_team_path(@competition, team) %></td>
    <td><%= link_to 'Edit', edit_competition_team_path(@competition, team) %></td>
    <td><%= link_to 'Destroy', [team.competition, team], confirm: 'Are you sure?',  method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Team', new_competition_team_path %>
