<p id="notice"><%= notice %></p>
<h1><%= "Team #{@team.number}: #{@team.name}" %></h1>
<h4>Team Members:</h4>
<%= render @team.team_members %>

<h4>Add New Team Member</h4>
<%= render "team_members/form" %>

<%= link_to 'Edit', edit_competition_team_path(@competition, @team) %> |
<%= link_to 'Back', competition_teams_path(@competition) %>
