<h1>Listing problems</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Text</th>
    <th>Competition</th>
    <th>Parent</th>
    <th>Solution</th>
    <th>Solution type</th>
    <th>Point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.number %></td>
    <td><%= problem.title %></td>
    <td><%= problem.text %></td>
    <td><%= problem.competition %></td>
    <td><%= problem.parent %></td>
    <td><%= problem.solution %></td>
    <td><%= problem.solution_type %></td>
    <td><%= problem.point %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
