<h1>Listing problems</h1>

<table>

<% @problems.each do |problem| %>
  <tr>
    <td><b><%= link_to "#{problem.number} #{problem.title}", competition_problem_path(@competition, problem) %></b></td>
    <td><%= problem.text %></td>
    <td><%= problem.total_points %> points </td>
    <td><%= link_to 'Edit', edit_competition_problem_path(@competition, problem) %></td>
    <td><%= link_to 'Remove', [problem.competition, problem], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Problem', new_competition_problem_path(@competition) %>
