<p id="notice"><%= notice %></p>

<h1> <%= "#{@problem.number}. #{@problem.title}" %> </h1>

<p>
  <%= @problem.text %>
  <%= link_to 'Edit', edit_competition_problem_path(@competition, @problem) %>

</p>

<%= render :partial => "solutions/solve", :locals => { :problem => @problem } %>
<%= link_to 'Add Subproblem', new_competition_problem_path(@competition, :parent_id => @problem.id) %>
<%= render @problem.subproblems.sort_by{|sub| sub.number} %>

<%= link_to 'Back', competition_problems_path(@competition) %>